<h1> ALL the comments </h1>
<% @comment.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <p><%= link_to comment.body, comment %></p>
      <div class="media">
        <div class="media-body">
          <p><%= link_to comment.body, comment %></p>
          </div>
<% end %>