<div class="jumbotron">
  <h1>Niccit</h1>
  <p>The Second Page of the Internet</p>

  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>It's kinda like Reddit</h2>
    <p>Niccit is really good. Money back guarantee.</p>
  </div>
  <div class="col-md-4">
    <h2>It's amazing.</h2>
    <p>Niccit is the best Reddit clone.</p>
  </div>
  <div class="col-md-4">
    <h2>Makes you better looking</h2>
    <p>Niccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
  </div>
</div>